* {
  padding: 0;
  margin: 0;
}

.main-div {
  display: flex;
  height: 100vh;
  background-color: whitesmoke;
}

.left-div{
  height: 100vh;
  width: 17vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 50px;
  gap: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.left-div img{
  height: 90px;
  width: 140px;
  margin-top: -50px;
  margin-left: -20px;

}
.left-div .ul-design{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-left: 30px;
}
.ul-design ul li{
  list-style: none;
  padding: 8px;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}
.right-div{
  width: 83vw;
  display: flex;
  flex-direction: column;
}
.top-content{
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.search{
  padding-right: 15px;
  padding-top: 10px;
  font-size: larger;
  color: blue;
}
.settings{
   font-size: larger;
   color: blue ;
}
.mic-container{
  height: 87vh;
  width: 83vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  cursor: pointer;
}
span{
  font-weight: bold;
}

.text-output{
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: Red;
  margin-top: -230px;
}